<a href="https://colab.research.google.com/github/vin199898/FuelConprediction/blob/main/Noon%20Report%20Data%20Extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget https://www.dropbox.com/s/fdwz5zya189hlvp/Bulk%20carrier%20data.zip?raw=1 ./data.zip

--2023-05-20 14:24:43--  https://www.dropbox.com/s/fdwz5zya189hlvp/Bulk%20carrier%20data.zip?raw=1
Resolving www.dropbox.com (www.dropbox.com)... 162.125.6.18, 2620:100:601c:18::a27d:612
Connecting to www.dropbox.com (www.dropbox.com)|162.125.6.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/fdwz5zya189hlvp/Bulk%20carrier%20data.zip [following]
--2023-05-20 14:24:43--  https://www.dropbox.com/s/raw/fdwz5zya189hlvp/Bulk%20carrier%20data.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc37f88268bb17f190bcd0f1b0c8.dl.dropboxusercontent.com/cd/0/inline/B8Z95iEdKjprHede-27Ob7VSajdve5cCGKCrRBw9nA7pOFpWRQokPHhG7gTJUNkLBe80rISKuwI7nOvQZPxwIAb6jOlmb1CiP9osWWe4wuuoofp_DpsIq7FiSHsq6NImCt_y0_O2BeZjuAz6AiwLT7mW7-RgTrXjhC_7mHj5xNSNmA/file# [following]
--2023-05-20 14:24:43--  https://uc37f88268bb17f190bcd0f1b0c8.dl.dropboxusercontent.com/cd/0/inline/B8Z95iEdKjprHede-27Ob7VSajdve5cCGKCrRBw9nA7pOFpWRQokPHhG7gTJUNkLBe80rISKuwI7nOvQZPxwIAb6jOlmb1CiP9osWWe4wuuoofp_DpsIq7FiSHsq6NImCt_y0_O2BeZjuAz6AiwLT7mW7-RgTrXjhC_7mHj5xNSNmA/file
Resolving uc37f88268bb17f190bcd0f1b0c8.dl.dropboxusercontent.com (uc37f88268bb17f190bcd0f1b0c8.dl.dropboxusercontent.com)... 162.125.6.15, 2620:100:601c:15::a27d:60f
Connecting to uc37f88268bb17f190bcd0f1b0c8.dl.dropboxusercontent.com (uc37f88268bb17f190bcd0f1b0c8.dl.dropboxusercontent.com)|162.125.6.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/B8bLjsHjFiGBIYG_MG4Y5Veo8E6gGxBubGrqdu9h3hx1j9lhvaflqO8QVkhYAuRXEWCBVJChf2ZxYcKOgRIFkEgjxrBaKimORMPNfpO6hoRe0ERVxh78KnCO0S_v7WBCKMAI1c5YgD4mhS5PHMHKoijGpNJ20emD1msgVJZxoSptiR1gsTeLk55lj3WKcq2DDzHjVq2TlDR-g1jNVR0YZXXaTXOVyVMwuCZqYORMpnc2_0uA6f32qT929pb3N02DMB_CKpTVuCGoTXtWjP6Gy6qMTSLvBLc2nIa_MDFU-_TsNl4_8zSxDnYwMQ_nfisY5QhOq20Pkj3IatkqZpr2Kpl0FXqcSERG6chDZtv4eBOtx9qPMSWZRokFcS8vJaZVaE1suFVlesIjUnuc9X9jxVHV-mNOtfEgBwk2q-14i5RD_Q/file [following]
--2023-05-20 14:24:43--  https://uc37f88268bb17f190bcd0f1b0c8.dl.dropboxusercontent.com/cd/0/inline2/B8bLjsHjFiGBIYG_MG4Y5Veo8E6gGxBubGrqdu9h3hx1j9lhvaflqO8QVkhYAuRXEWCBVJChf2ZxYcKOgRIFkEgjxrBaKimORMPNfpO6hoRe0ERVxh78KnCO0S_v7WBCKMAI1c5YgD4mhS5PHMHKoijGpNJ20emD1msgVJZxoSptiR1gsTeLk55lj3WKcq2DDzHjVq2TlDR-g1jNVR0YZXXaTXOVyVMwuCZqYORMpnc2_0uA6f32qT929pb3N02DMB_CKpTVuCGoTXtWjP6Gy6qMTSLvBLc2nIa_MDFU-_TsNl4_8zSxDnYwMQ_nfisY5QhOq20Pkj3IatkqZpr2Kpl0FXqcSERG6chDZtv4eBOtx9qPMSWZRokFcS8vJaZVaE1suFVlesIjUnuc9X9jxVHV-mNOtfEgBwk2q-14i5RD_Q/file
Reusing existing connection to uc37f88268bb17f190bcd0f1b0c8.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 1694431 (1.6M) [application/zip]
Saving to: ‘Bulk carrier data.zip?raw=1’

Bulk carrier data.z 100%[===================>]   1.62M  --.-KB/s    in 0.01s

2023-05-20 14:24:43 (148 MB/s) - ‘Bulk carrier data.zip?raw=1’ saved [1694431/1694431]

--2023-05-20 14:24:43--  http://./data.zip
Resolving . (.)... failed: No address associated with hostname.
wget: unable to resolve host address ‘.’
FINISHED --2023-05-20 14:24:43--
Total wall clock time: 0.6s
Downloaded: 1 files, 1.6M in 0.01s (148 MB/s)

In [ ]:
import os
import zipfile
local_zip = 'data.zip'
zip_ref = zipfile.ZipFile(local_zip, 'r')
zip_ref.extractall('./')
zip_ref.close()

FileNotFoundError: ignored

In [ ]:
!pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)

In [ ]:
import pandas as pd
import os
import glob

In [ ]:
flist = glob.glob('*.xlsx')
flist

['V36.xlsx',
 'V35.xlsx',
 'V28.xlsx',
 'V29.xlsx',
 'V34.xlsx',
 'V31.xlsx',
 'V32.xlsx',
 'V30.xlsx',
 'V33.xlsx']

In [ ]:
main_df = pd.DataFrame()
for filename in flist:
    print(filename)
    df = pd.read_excel(filename,sheet_name = "OUT", names = ['loc','HoursPropelhrs','HoursPropelmin','Dethrs','Detmin','portDrifthrs','portDriftmin','disENG','disLOG','disOG','speedLOG','speedOG','mainEngFO','mainEngDO','auxEngFO','auxEngDO','mainEngDetFO','mainEngDetDO','auxEngDetFO', 'auxEngDetDO','mainEngPortFO','mainEngPortDO','AuxEngPortFO','AuxEngPortDo'], header=None, usecols="C,L:Q,V:X,AB:AC,AG:AJ,AO:AR,AU:AX",skiprows=9,nrows=40)
    main_df = main_df.append(df, ignore_index=True)

NameError: ignored

In [ ]:
main_df.head()

,HoursPropelhrs,HoursPropelmin,Dethrs,Detmin,portDrifthrs,portDriftmin,disENG,disLOG,disOG,speedLOG,...,auxEngFO,auxEngDO,mainEngDetFO,mainEngDetDO,auxEngDetFO,auxEngDetDO,mainEngPortFO,mainEngPortDO,AuxEngPortFO,AuxEngPortDo
0,2.0,54.0,0.0,56.0,1.0,20.0,42.0,44.0,44.0,15.2,...,NaN,0.1,NaN,0.0,0.0,0.0,NaN,0.1,0.1,NaN
1,24.0,0.0,NaN,NaN,NaN,NaN,362.0,376.0,374.0,15.7,...,NaN,2.6,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,24.0,0.0,NaN,NaN,NaN,NaN,362.0,375.0,376.0,15.6,...,NaN,2.7,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,23.0,0.0,NaN,NaN,NaN,NaN,345.0,337.0,333.0,14.7,...,NaN,5.7,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,24.0,0.0,NaN,NaN,NaN,NaN,350.0,345.0,340.0,14.4,...,NaN,6.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [ ]:
main_df.to_excel("output.xlsx")